################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Werd/.vs/Werd/v16/Browse.VC.opendb
/Werd/.vs/Werd/v16/Browse.VC.db
/Werd/Werd/Debug/Werd.tlog/Werd.lastbuildstate
/Werd/Werd/Debug/Werd.tlog/link.write.1.tlog
/Werd/Werd/Debug/Werd.tlog/link.read.1.tlog
/Werd/Werd/Debug/Werd.tlog/link.command.1.tlog
/Werd/Werd/Debug/Werd.tlog/CL.write.1.tlog
/Werd/Werd/Debug/Werd.tlog/CL.read.1.tlog
/Werd/Werd/Debug/Werd.tlog/CL.command.1.tlog
/Werd/Werd/Debug/Werd.log
/Werd/Werd/Debug/vc142.pdb
/Werd/Werd/Debug/vc142.idb
/Werd/Werd/Debug/Main.obj
/Werd/Debug/Werd.pdb
/Werd/Debug/Werd.ilk
/Werd/Debug/Werd.exe
/Werd/.vs/Werd/v16/ipch/AutoPCH/9ca9343dd2aa971f/MAIN.ipch
/Werd/.vs/Werd/v16/.suo
