################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Werd/.vs/Werd/v16/Browse.VC.opendb
